In [35]:
import pandas as pd

# Load dataset
df = pd.read_csv("Superstore Sales\superstore_final_dataset (1).csv", encoding='ISO-8859-1')

In [36]:
print(df.head())  # Display the first few rows

   Row_ID        Order_ID  Order_Date   Ship_Date       Ship_Mode Customer_ID  \
0       1  CA-2017-152156   8/11/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156   8/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688   12/6/2017  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335

     Customer_Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3    Sean O Donnel   Consumer  United States  Fort Lauderdale     Florida
4    Sean O Donnel   Consumer  United States  Fort Lauderdale     Florida

   Postal_Code Region       Product_ID         Category Sub_Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                        Product_Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                      Eldon Fold N Roll Cart System   22.3680

In [37]:
print(df.info())  # Get summary info of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9800 non-null   int64
 1   Order_ID       9800 non-null   object
 2   Order_Date     9800 non-null   object
 3   Ship_Date      9800 non-null   object
 4   Ship_Mode      9800 non-null   object
 5   Customer_ID    9800 non-null   object
 6   Customer_Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal_Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product_ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub_Category   9800 non-null   object
 16  Product_Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB
None

In [38]:
# Checking for missing values
missing_values = df.isnull().sum()
print(missing_values)

Row_ID            0
Order_ID          0
Order_Date        0
Ship_Date         0
Ship_Mode         0
Customer_ID       0
Customer_Name     0
Segment           0
Country           0
City              0
State             0
Postal_Code      11
Region            0
Product_ID        0
Category          0
Sub_Category      0
Product_Name      0
Sales             0
dtype: int64

In [39]:
# Filling rows with missing values in 'Postal_Code' with a placeholder
df['Postal_Code'] = df['Postal_Code'].fillna('Unknown')
print("Missing values after handling:\n", df.isnull().sum())

Missing values after handling:
 Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

In [40]:
# Convert 'Order_Date' and 'Ship_Date' to datetime with day-first format
df['Order_Date'] = pd.to_datetime(df['Order_Date'], dayfirst=True)
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'], dayfirst=True)

# Display the data types to verify conversion
print("\nData types after converting date columns:\n", df.dtypes)

# Show a few sample rows to verify date conversion
print("\nSample rows after date conversion:\n", df[['Order_Date', 'Ship_Date']].head())

Data types after converting date columns:
 Row_ID                    int64
Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code              object
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
dtype: object

Sample rows after date conversion:
   Order_Date  Ship_Date
0 2017-11-08 2017-11-11
1 2017-11-08 2017-11-11
2 2017-06-12 2017-06-16
3 2016-10-11 2016-10-18
4 2016-10-11 2016-10-18

In [41]:
# Checking for duplicates before removal
print("\nNumber of duplicate rows before removal:", df.duplicated().sum())

# Removing duplicate rows
df = df.drop_duplicates()

# Checking for duplicates after removal
print("Number of duplicate rows after removal:", df.duplicated().sum())

Number of duplicate rows before removal: 0
Number of duplicate rows after removal: 0

In [43]:
# Checking for potential outliers in 'Sales'
sales_summary = df['Sales'].describe()
print(sales_summary)

count     9800.000000
mean       230.769059
std        626.651875
min          0.444000
25%         17.248000
50%         54.490000
75%        210.605000
max      22638.480000
Name: Sales, dtype: float64

In [49]:
unique_customer_ids_in_customers = df['Customer_ID'].nunique()
unique_customer_ids_in_sales = df['Customer_ID'].nunique()


print(f"\nNumber of unique Customer_IDs in Customer Table: {unique_customer_ids_in_customers}")
print(f"Number of unique Customer_IDs in Sales Table: {unique_customer_ids_in_sales}")

Number of unique Customer_IDs in Customer Table: 793
Number of unique Customer_IDs in Sales Table: 793

In [50]:
# 1. Extract unique customer data
customer_columns = ['Customer_ID', 'Customer_Name', 'Segment', 'City', 'State', 'Region']
customers = df[customer_columns].drop_duplicates().reset_index(drop=True)

# Displaying the customer table
print("Customer Table (First 5 rows):")
print(customers.head())

# 2. Create a sales table that references customers by Customer_ID
sales_columns = [col for col in df.columns if col not in customer_columns or col == 'Customer_ID']
sales = df[sales_columns].copy()

# Displaying the sales table
print("\nSales Table (First 5 rows):")
print(sales.head())

# Verifying the relationship (Checking unique Customer_IDs)
unique_customer_ids_in_customers = customers['Customer_ID'].nunique()
unique_customer_ids_in_sales = sales['Customer_ID'].nunique()

print(f"\nNumber of unique Customer_IDs in Customer Table: {unique_customer_ids_in_customers}")
print(f"Number of unique Customer_IDs in Sales Table: {unique_customer_ids_in_sales}")

# Example of merging the two tables to verify relational integrity (optional)
merged_df = pd.merge(sales, customers, on='Customer_ID', how='inner')
print("\nMerged Table (First 5 rows to verify normalization):")
print(merged_df.head())

Customer Table (First 5 rows):
  Customer_ID    Customer_Name    Segment             City           State  \
0    CG-12520      claire gute   Consumer        henderson        kentucky
1    DV-13045  darrin van huff  Corporate      los angeles      california
2    SO-20335    sean o donnel   Consumer  fort lauderdale         florida
3    BH-11710  brosina hoffman   Consumer      los angeles      california
4    AA-10480     andrew allen   Consumer          concord  north carolina

  Region
0  South
1   West
2  South
3   West
4  South

Sales Table (First 5 rows):
   Row_ID        Order_ID Order_Date  Ship_Date       Ship_Mode Customer_ID  \
0       1  CA-2017-152156 2017-11-08 2017-11-11    Second Class    CG-12520
1       2  CA-2017-152156 2017-11-08 2017-11-11    Second Class    CG-12520
2       3  CA-2017-138688 2017-06-12 2017-06-16    Second Class    DV-13045
3       4  US-2016-108966 2016-10-11 2016-10-18  Standard Class    SO-20335
4       5  US-2016-108966 2016-10-11 2016-10-18  Standard Class    SO-20335

         Country Postal_Code       Product_ID         Category Sub_Category  \
0  United States     42420.0  FUR-BO-10001798        Furniture    Bookcases
1  United States     42420.0  FUR-CH-10000454        Furniture       Chairs
2  United States     90036.0  OFF-LA-10000240  Office Supplies       Labels
3  United States     33311.0  FUR-TA-10000577        Furniture       Tables
4  United States     33311.0  OFF-ST-10000760  Office Supplies      Storage

                                        Product_Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                      Eldon Fold N Roll Cart System   22.3680

Number of unique Customer_IDs in Customer Table: 793
Number of unique Customer_IDs in Sales Table: 793

Merged Table (First 5 rows to verify normalization):
   Row_ID        Order_ID Order_Date  Ship_Date     Ship_Mode Customer_ID  \
0       1  CA-2017-152156 2017-11-08 2017-11-11  Second Class    CG-12520
1       1  CA-2017-152156 2017-11-08 2017-11-11  Second Class    CG-12520
2       1  CA-2017-152156 2017-11-08 2017-11-11  Second Class    CG-12520
3       2  CA-2017-152156 2017-11-08 2017-11-11  Second Class    CG-12520
4       2  CA-2017-152156 2017-11-08 2017-11-11  Second Class    CG-12520

         Country Postal_Code       Product_ID   Category Sub_Category  \
0  United States     42420.0  FUR-BO-10001798  Furniture    Bookcases
1  United States     42420.0  FUR-BO-10001798  Furniture    Bookcases
2  United States     42420.0  FUR-BO-10001798  Furniture    Bookcases
3  United States     42420.0  FUR-CH-10000454  Furniture       Chairs
4  United States     42420.0  FUR-CH-10000454  Furniture       Chairs

                                        Product_Name   Sales Customer_Name  \
0                  Bush Somerset Collection Bookcase  261.96   claire gute
1                  Bush Somerset Collection Bookcase  261.96   claire gute
2                  Bush Somerset Collection Bookcase  261.96   claire gute
3  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.94   claire gute
4  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.94   claire gute

    Segment       City     State   Region
0  Consumer  henderson  kentucky    South
1  Consumer    houston     texas  Central
2  Consumer     dallas     texas  Central
3  Consumer  henderson  kentucky    South
4  Consumer    houston     texas  Central